{{> menu active="about"}}
<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title ">
            Placemark : Please find us on map </p>
        <p class="box">
        </p>
    </div>
    {{> add-message }}
    {{> list-messages }}
</section>

