{{> menu active="admin"}}

<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title ">
            User Interface: Analytics </p>
        <p class="box">
            {{> list-station-analytics }}
        </p>
    </div>
    <div class="hero-body has-text-centered">
        <p class="title ">
            This should be a hidden Admin Interface: Admin privilege </p>
        <p class="box">
            {{> list-users }}
        </p>
    </div>
</section>