{{> menu active="dashboard"}}

<section class="section">
    <div style="text-align: right">
        <!--<a href="/dashboard/sortplacemark" class="button">
            <i class="fas fa-angle-double-down"></i>
        </a> -->
    </div>
    {{> list-placemarks }}
    {{> add-placemark }}
</section>