{{> menu active="dashboard"}}

<section class="section">
    <div style="text-align: right">
        <div id="issmap"></div>
    </div>
    {{> list-placemarks }}
    {{> add-placemark }}
</section>

<script>
    const map = L.map("issmap").setView([52.2593, -7.1101], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    const marker = L.marker([52.2593, -7.11]).addTo(map);
    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
</script>
