{{> welcome-menu}}

<div class="columns is-vcentered ">
    <div class="column has-text-centered">
        <h2>
        <h> Hello, Sign up or Log in... </h>
        </h2>
    </div>
    <div class="column">
        <img src="/images/depo.jpg">
    </div>
</div>
