<form action="/dashboard/addplacemark" method="POST">
    <div class="field">
        <label class="label">Location Name</label>
        <input class="input" type="text" placeholder="Enter town name" name="title">
    </div>
    <button class="button is-link">Add Placemark</button>
</form>
