<form class="box">
    <h2>COMMUNITY SECTION</h2>
</form>
<form class="box" action="/about/addmessage" method="POST">
    <label>Leave your Feedback</label>
    <div class="controls">
        <input class="input" type="text" placeholder="Enter message" name="messageText">
        <!-- <textarea id="message" name="message" cols="60" rows="5"></textarea> -->
    </div>
    <button class="button is-primary">Submit</button>
</form>