<div class="card-image">
    <figure class="image is-256x256">
        <img src={{placemark.img}}>
    </figure>
    <a href="/craft/{{./placemark._id}}/deleteimage" class="button is-danger is-fullwidth">
        <span> Delete Image</span>
    </a>
</div>