<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        {{> placemark-brand}}
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button" id="login" href="/login"> <i class="fas fa-user-circle fa-1x"></i> Log in </a>
                    <a class="button" id="signup" href="/signup"> <i class="fas fa-user-circle fa-1x"></i> Sign up </a>
                    <a class="button" id="github" href="/github"> <i class="fab fa-github fa-1x"> </i> Github </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    document.getElementById("{{active}}").classList.add("is-primary");
</script>
